<div class="library-header-buttons">
    <div class="button-container" id="open-modal">
        <img src="/images/plus.svg">
        <p>Create folder</p>
    </div>
<a>
    <div class="button-container upload" id="open-file-modal">
        <img src="/images/upload.svg">
        <p>Upload file</p>
    </div>
</a>

</div>
