<div class="sidebar">
    <div class="sidebar-top">
            <h2>My Files</h2>
    </div>
    <ul>
        <li>
            <div class="library-links">
                <img src="/images/file-outline.svg"/>
                <a>Files</a>
            </div>
        </li>
        <li>
            <div class="library-links">
                <img src="/images/downloadBtn.svg"/>
                <a>Downloaded files</a>
            </div>
        </li>
        <li>
            <div class="library-links">
                <img src="/images/star-outline.svg"/>
                <a>Starred files</a>
            </div>
        </li>
        <li>
            <div class="library-links">
                <img src="/images/share-variant.svg"/>
                <a>Shared files</a>
            </div>
        </li>
        <li>
            <div class="library-links">
                <img src="/images/trash.svg"/>
                <a>Deleted files</a>
            </div>
        </li>


    </ul>
</div>
