
<header class="header">
    <div class="left-header">
        <img src="/images/fox-4-svgrepo-com.svg">
        <h2>SortiFox</h2>
    </div>
    <div class="right-header">
        <ul>
            <li><a><img src="/images/earth.svg"></a></li>
            <li><a>Log In</a></li>
            <li><a>Sign Up</a></li>

        </ul>
    </div>


</header>
