<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>Document</title>
    <link rel="stylesheet" href="/indexStyles.css">
    <link rel="stylesheet" href="/headerStyle.css">
</head>
<body>
    <%- include('./header.ejs') %>
    <div class="container">
        <div class="call-to-action">
            <h1>Keep It Safe, Keep It Simple, Store It</h1>
            <div class="sub-title">
                <h2>SortiFox delivers tools that help you download your work, keep it safe and stored, and let you collaborate and share with others.</h2>
            </div>
            <button>Get started <img src="images/arrow-right.svg"> </button>
        </div>
        <div class="description">
            <h2>All the tools you need in one App</h2>
            <h3>Store and share files to others, download files to your computer, all in one place</h3>
        </div>
        <div class="referrals">
            <h2>Over 500,000 College Students use SortiFox</h2>
            <div class="refferal-content">
                <div class="college-box">

                </div>
                <div class="referral-description">
                    <p>“Our team is constantly working across different countries, time zones and offices. A lot of solutions can accommodate that now,
                        but none make it as seamless as SortiFox.”</p>

                    <div class="learn-button">
                        <div class="learn-container">
                            <a>Learn More about our customers</a>
                            <div class="line"></div>

                        </div>
                        <img src="images/arrow-right.svg">

                    </div>

                    <div class="refferal-image" style="margin-top: 20px;">
                        <img src="/images/cpu.svg">
                    </div>
                </div>

            </div>



        </div>

        <div class="description-two">
            <h2>SortiFox supports your school work at every stage</h2>
            <div class="description-two-container">
                <div class="description-two-box">
                    <img src="/images/lock.svg">
                    <h3>Store and protect your files</h3>
                    <p>Starting at 3 TB of team storage and backup, with security features like file recovery, password protection, watermarking, and viewer history.</p>
                </div>
                <div class="description-two-box">
                    <img src="/images/share.svg">
                    <h3>Share your files</h3>
                    <p>Forget email attachments. With Dropbox, you can deliver large files and share trackable links with real-time document analytics to help make data-driven decisions.</p>
                </div>
                <div class="description-two-box">
                    <img src="/images/organize.svg">
                    <h3>Star and organize your work</h3>
                    <p>Reduce meetings with Capture and use Replay to streamline feedback and approval processes on video projects.</p>
                </div>
                <div class="description-two-box">
                    <img src="/images/download.svg">
                    <h3>Download all your files</h3>
                    <p>Make it easy to prepare, send, and eSign your most important contracts. Automate manual processes with tools like eSignature templates, which let you reuse documents in seconds.</p>
                </div>
            </div>
        </div>
        <footer>
            <div class="footer-top">
                <div class="footer-container">
                    <h3>SortiFox</h3>
                    <div class="footer-links">
                        <a>Desktop app</a>
                        <a>Mobile app</a>
                        <a>Integrations</a>
                        <a>Features</a>
                        <a>Solutions</a>
                        <a>Security</a>
                        <a>Early access</a>
                        <a>Templates</a>
                        <a>Free tools</a>
                    </div>
                </div>
                <div class="footer-container">
                    <h3>Products</h3>
                    <div class="footer-links">
                        <a>Desktop app</a>
                        <a>Mobile app</a>
                        <a>Integrations</a>
                        <a>Features</a>
                        <a>Solutions</a>
                        <a>Security</a>
                        <a>Early access</a>
                        <a>Templates</a>
                        <a>Free tools</a>
                    </div>
                </div>
                <div class="footer-container">
                    <h3>Features</h3>
                    <div class="footer-links">
                        <a>Desktop app</a>
                        <a>Mobile app</a>
                        <a>Integrations</a>
                        <a>Features</a>
                        <a>Solutions</a>
                        <a>Security</a>
                        <a>Early access</a>
                        <a>Templates</a>
                        <a>Free tools</a>
                    </div>
                </div>
                <div class="footer-container">
                    <h3>Support</h3>
                    <div class="footer-links">
                        <a>Desktop app</a>
                        <a>Mobile app</a>
                        <a>Integrations</a>
                        <a>Features</a>
                        <a>Solutions</a>
                        <a>Security</a>
                        <a>Early access</a>
                        <a>Templates</a>
                        <a>Free tools</a>
                    </div>
                </div>
                <div class="footer-container">
                    <h3>Resources</h3>
                    <div class="footer-links">
                        <a>Desktop app</a>
                        <a>Mobile app</a>
                        <a>Integrations</a>
                        <a>Features</a>
                        <a>Solutions</a>
                        <a>Security</a>
                        <a>Early access</a>
                        <a>Templates</a>
                        <a>Free tools</a>
                    </div>
                </div>
                <div class="footer-container">
                    <h3>Company</h3>
                    <div class="footer-links">
                        <a>Desktop app</a>
                        <a>Mobile app</a>
                        <a>Integrations</a>
                        <a>Features</a>
                        <a>Solutions</a>
                        <a>Security</a>
                        <a>Early access</a>
                        <a>Templates</a>
                        <a>Free tools</a>
                    </div>


                </div>
            </div>

            <div class="footer-bottom-links">
                <img src="/images/facebook.png">
                <img src="/images/twitter.png">
                <img src="/images/youtube-2.png">
            </div>

        </footer>



    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
        const header = document.querySelector('.header');
        const scrollThreshold = 50;

        window.addEventListener('scroll', function () {
            if (window.scrollY > scrollThreshold) {
                header.classList.add('scrolled');
            } else {
                header.classList.remove('scrolled');
            }
        });
    });

    </script>


</body>
</html>
