<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/formStyle.css">
    <title>Document</title>
</head>
<body>
    <%- include('./header.ejs') %>
    <div class="content">
        <h2>Sign up or log in</h2>
        <p>We recommend using your <span>school email.</span></p>
        <form action="" method="POST">
            <div class="form-containers">
                <label for="email">Email</label>
                <input id="email" name="email" type="email" placeholder="john@gmail.com" />
            </div>
            <div class="form-containers">
                <label for="password">Password</label>
                <input id="password" name="password" type="password" placeholder="password" />
            </div>

            <button>Sign Up</button>
            <p style="text-align: center;">Already have an account? <a href="/log-in">Log in here</a></p>
        </form>

    </div>


</body>
</html>
