 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 60px;
 }

 /* HEADER */

 .header {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
    position: fixed; /* Fixes the header to the top of the viewport */
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid   rgb(247, 245, 242);



 }

 .left-header {
    display: flex;
    align-items: center;
    gap: 5px;
 }

 .right-header ul {
    display: flex;
    gap: 20px;
    align-items: center;
    list-style: none;

 }

 header a {
    transition: 0.3s;
 }

 header a:hover {
    color: #6B63F6;
    cursor: pointer;
 }


 /* CONTAINER */

 .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

 }

 .container h1 {
    font-size: 3.5rem;
 }

 .call-to-action {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    padding: 200px 10px;
    flex-direction: column;
    gap: 25px;
    width: 100%;
    text-align: center;
 }

 .sub-title {
    text-align: center;
    width: 60%; /* Optional: Limit the width to make it more visually appealing */
    margin: 0 auto; /* Center the div itself horizontally */
    line-height: 35px;

    color: rgb(139, 139, 139);
    font-weight: 100;
}

.call-to-action button{
    background-color: #6B63F6;
    border: none;
    padding: 25px 35px;
    font-size: 1.2rem;
    color: black;
    border-radius: 15px;
    font-weight: bold;
    transition: opacity 0.3s ease;
    display: flex;
    align-items: center;
    gap: 5px;
}

.call-to-action button:hover {
    background-color: #8A8AF7;
    cursor: pointer;
    gap: 10px;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 15px;
    padding: 100px 0px;
    background-color: rgb(247, 245, 242);
    width: 100%;


}


.description h2 {
    font-size: 2.5rem;
}

.college-box {
    height: 330px;
    width: 25%;

    background-color: #990000;

}

.referral-description {

    color: black;
    width: 50%;
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;


}
.referral-description p {
    margin: 0;
}
.referrals {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 10px;
    gap: 50px;

}
.referrals h2 {
    font-size: 2.5rem;
    text-align: center;
}

.refferal-content {
    display: flex;
    gap: 50px;
    justify-content: center;


}

.line {
    height: 2px;
    width: 255px;
    background-color: black;

}

.learn-container {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.learn-button {
    display: flex;
    gap: 5px;

}

.learn-button:hover {
    gap: 15px;
    color: black;
    cursor: pointer;
}


.refferal-image img {
    height: 150px;
}

/* DESCRIPTION TWO */

.description-two {

    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 50px 0;
    background-color: rgb(247, 245, 242);
    width: 100%;
    gap: 50px;

}

.description-two h2 {

    font-size: 2.5rem;


}

.description-two-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 55px;

    padding: 10px 50px;

}

.description-two-box img {
    height: 130px;
}

.description-two-box p,  .description-two-box h3{
    width: 280px;
}

.description-two-box h3 {
    font-size: 1.3rem;
}

.description-two-box p {
    font-size: 1.1rem;
    line-height: 23px;
}

.description-two-box {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* FOOTER */
footer {
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;


}

.footer-bottom-links {
    display: flex;
    justify-content: center;
    padding: 50px 0;
    background-color: black;
    gap: 15px;


}

.footer-links {
    display: flex;
    flex-direction: column;

    gap: 20px;

}
.footer-top {

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 100px;

    padding: 100px 0;

}

.footer-container h3 {
    font-size: 1.5rem;
}

.footer-container {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.call-to-action button img {
    height: 35px;
}

.footer-bottom-links img {
    height: 30px;
}
